<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registros de Alumnos</title>
</head>
<body>
    <header>
        <button>Alumnat</button>
        <button>Professorat</button>
        <h2 style="color: green; text-align: center;">Registros de Alumnos</h2>
    </header>
    <table border="1" style="width: 100%; text-align: left; background-color: #e6ffe6;">
        <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Apellido 2</th>
            <th>Edad</th>
            <th>Curso</th>
        </tr>
        {% for student in students %}
        <tr>
            <td>{{student.first_name}}</td>
            <td>{{student.last_name_1}}</td>
            <td>{{student.last_name_2}}</td>
            <td>{{student.email}}</td>
            <td>{{student.course}}</td>
            <td>{{student.enrolled_modules}}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>